@model JobApplicationDashboard.Models.Application

<nav class="container">
    <ul>
        <li>
            <strong>Delete Application</strong>
        </li>
    </ul>
    <ul>
        <button>
            <a asp-action="Index">Back</a>
        </button>
    </ul>
</nav>

<div>
    <hr />
    <dl class="container">
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" style="margin-top: 1rem;" />
    </form>
    </dl>
</div>
