@model JobApplicationDashboard.Models.Application

<nav class="container">
    <ul>
        <li>
            <strong>More Details</strong>
        </li>
    </ul>
    <ul>
        <button>
            <a asp-action="Index">Back</a>
        </button>
    </ul>
</nav>

<hr />
<dl class="container">
    <dt >
        @Html.DisplayNameFor(model => model.Company):
    </dt>
    <dd >
        @Html.DisplayFor(model => model.Company)
    </dd>
    <dt >
        @Html.DisplayNameFor(model => model.Role):
    </dt>
    <dd >
        @Html.DisplayFor(model => model.Role)
    </dd>
    <dt >
        @Html.DisplayNameFor(model => model.Date):
    </dt>
    <dd >
        @Html.DisplayFor(model => model.Date)
    </dd>
    <dt >
        @Html.DisplayNameFor(model => model.Resume):
    </dt>
    <dd >
        @Html.DisplayFor(model => model.Resume)
    </dd>
    <dt >
        @Html.DisplayNameFor(model => model.Status):
    </dt>
    <dd >
        @Html.DisplayFor(model => model.Status)
    </dd>
    <dt >
        @Html.DisplayNameFor(model => model.Other):
    </dt>
    <dd >
        @Html.DisplayFor(model => model.Other)
    </dd>
<button style="margin-top: 1rem;">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</button>
</dl>
